UserSettings/
Temp/
.vscode/
Library/
Logs/
Assets/GAL-2025-Main/test001/雪山前/场景内容 02.psd
Assets/雪山前/场景内容 02.psd.meta
Assets/雪山前/场景内容 02.psd
Packages/packages-lock.json
Assembly-CSharp.csproj
ProjectSettings/ProjectVersion.txt
ProjectSettings/PackageManagerSettings.asset
Assets/雪山前/场景内容 01.psd
Assets/雪山前/其他内容合集/场景内容 01.psd
Assets/雪山前/其他内容合集/场景内容 02.psd
